<mat-card appearance="outlined">
	<table class="user-table">
		<thead>
			<tr>
				<th>Photo</th>
				<th>User Name</th>
				<th>Company</th>
				<th>E-Mail</th>
				<th>Status</th>
				<th>Operation</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="assets/profile-photo.png" alt="User Photo" /></td>
				<td>Mario Winter</td>
				<td>Weiss Technik GmbH</td>
				<td>mario.winterweiss-technik.com</td>
				<td><span class="status active">Active</span></td>
				<td class="operation">Test Icon</td>
				<td>
					<button class="login-button">Login</button>
				</td>
			</tr>
			<tr>
				<td><img src="assets/profile-photo.png" alt="User Photo" /></td>
				<td>Mario Winter</td>
				<td>Weiss Technik GmbH</td>
				<td>mario.winterweiss-technik.com</td>
				<td><span class="status active">Active</span></td>
				<td class="operation">Test Icon</td>
				<td>
					<button class="login-button">Login</button>
				</td>
			</tr>
		</tbody>
	</table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
	<mat-icon>add</mat-icon>
</button>
