@if(usersService.allUsers.length >0){
<mat-card appearance="outlined">
	<table class="user-table">
		<tr>
			<th>User Name</th>
			<th>Company</th>
			<th>E-Mail</th>
			<th>Status</th>
			<th>Operation</th>
			<th>Action</th>
		</tr>
		@for(user of usersService.allUsers;track user.id){

		<tr [routerLink]="['/user', user.id]">
			<td>{{ user.firstName }} {{ user.lastName }}</td>
			<td>{{ user.id }}</td>
			<td>{{ user.email }}</td>
			<td><span class="status active">Active</span></td>
			<td class="operation">Test Icon</td>
			<td>
				<button class="login-button">Login</button>
			</td>
		</tr>
		}
	</table>
</mat-card>
}@else {
<H3>No User added</H3>
}
<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
	<mat-icon>add</mat-icon>
</button>
